<div class="container">
	<h1 class="jumbotron-heading">Album example</h1>
	<div class="container">
		<div class="row">
			<div class="col">
				<p>Lorem ipsum dolor sit amet, at nemore disputando vis. Omnis assum et sea, cu decore alterum scriptorem eos. Cum sumo natum in, vim elit audiam et. Sed ex malorum repudiare, at sale dolor nam, in eam prima moderatius eloquentiam. Vix cu modus libris voluptatibus, pro cu illum melius adipisci. Cu sea semper appellantur voluptatibus, agam tota ei usu.</p>
			</div>
			<div class="col">
				<p>Sea inani salutatus constituto ut, ei vis brute maiestatis vituperatoribus. Eu quo perfecto qualisque persecuti, ut vix nibh phaedrum, zril eleifend perpetua vis te. Ad mea prima populo electram, eum dico delectus at. Per et primis moderatius, usu an commodo sapientem. Consequat voluptaria constituam mei ei, ei vel denique accusata.</p>
			</div>
		</div>
	</div>
</div>